/* CSS Template */

/* Base page settings */
 body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: tan;
  color: saddlebrown;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: tan;
  color: saddlebrown;
  text-align: center;
  padding: 20px 20px 20px 20px;
  border: 2px red;
  margin: 0; /* auto */
  line-height: 1;
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
}

    h1 {
  background-color: tan;
  color: saddlebrown;
  text-shadow: 4px 4px 4px black;
  margin: 0; /* auto */
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-size: 4.5em;
  border-radius: 10px;
  font-weight: bold;
  line-height: 1.2em; 
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
{
h2 {
  background-color: tan;
  font-size: 3em;
  border-radius: 5px;
  text-align: center; 
  font-weight: 800;
  color: saddlebrown;
  margin: auto;
  padding: 20px 20px 20px 20px;  /* added            10px padding to sides looks much better  */
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
}

h3 {
  background-color: tan;
  font-size: 4.0em;
  font-weight: bold;
  color: saddlebrown;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  padding: 20px 20px 20px 20px;
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
  {

  p {
    background-color: tan;
    color: saddlbrown;
    font-size: 1em;
  }
 a hover {
  color: greeen;
 }

footer { 
  background-color: tan;
  color: saddlebrown;
  margin: 10px auto 0px auto;
  padding: 10px auto 10px auto;
  text-align: center;
  font-size: 4.0em;
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
}
