/* CSS Template */

/* Base page settings */
 body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: tan;
  color: saddlebrown;
  font-family: Arial, sans-serif;
}


    h1 {
  background-color: tan;
  color: saddlebrown;
  text-shadow: 4px 4px 4px black;
  margin: 0; /* auto */
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-size: 4.5em;
  border-radius: 10px;
  font-weight: bold;
  line-height: 1.2em; 
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
    }
h2 {
  background-color: tan;
  font-size: 2em;
  border-radius: 5px;
  text-align: center; 
  font-weight: 800;
  color: saddlebrown;
  text-shadow: 3px 3px 3px solid black;
  margin: auto;
  padding: 10px;  /* added            10px padding to sides looks much better  */
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
}

h3 {
  background-color: tan;
  font-size: 4.0em;
  font-weight: bold;
  color: saddlebrown;
  border-radius: 10px;
  text-align: center;
  margin: 0px auto auto auto;
  padding: 20px 20px 20px 20px;
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
  {

  p {
    background-color: tan;
    color: black;
    font-size: 1em;
  }
 

footer { 
  background-color: tan;
  color: saddlebrown;
  margin: 10px auto 0px auto;
  padding: 10px auto 10px auto;
  text-align: center;
  font-size: 4.0em;
  background-image: radial-gradient(saddlebrown,
                                tan, ivory);  /* Gradient */
}
